<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appthuoc.apptracuuthuoc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Apptracuuthuoc">
        <activity
            android:name=".MainActivityChiTietThuoc"
            android:exported="false" />
        <activity
            android:name=".MainActivitythuocdiung"
            android:exported="false" />
        <activity
            android:name=".MainActivitythuocnhomat"
            android:exported="false" />
        <activity
            android:name=".MainActivitythuocgaymete"
            android:exported="false" />
        <activity
            android:name=".MainActivitythuoctriseo"
            android:exported="false" />
        <activity
            android:name=".MainActivitythuockhac"
            android:exported="false" />
        <activity
            android:name=".MainActivitythuoctieuhoa"
            android:exported="false" />
        <activity
            android:name=".MainActivitythuoctriho"
            android:exported="false" />
        <activity
            android:name=".MainActivitythuocks"
            android:exported="false" />
        <activity
            android:name=".TuThuoc"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>